.calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.calc-right {
  background-color: #2A2976;
  padding: 70px 60px;
  width: 45%;
}

.calc-right .button:hover {
  background-color: #EE2C2C;
  opacity: .7;
}

.calc-right .title {
  color: #fff;
}

.calc-right p {
  color: #fff;
  margin-bottom: 40px;
  font-size: 18px;
}

.calc-left {
  padding-top: 45px;
  width: 44%;
}

.calc-left-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.calc-left-section label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #2A2976;
  cursor: pointer;
}

.calc-left-section label:hover {
  color: #EE2C2C;
}

.calc-left-section label input {
  margin-top: 0;
  margin-right: 10px;
}

.calc-left .spb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10px;
}

.calc-left .spb .calc-result {
  color: #1F1F1F;
  font-size: 32px;
  font-weight: 700;
}

.calc-left .spb .calc-cost {
  color: #2A2976;
  font-size: 32px;
  font-weight: 700;
}

.calc-num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 50px;
}

.calc-num span {
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
}

.calc-num-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D0D0D0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.gallery {
  padding-top: 0;
  padding-bottom: 60px;
}

.gallery-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.gallery-wrap .load-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-right: 20px;
}

.gallery-wrap .load-more-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  color: #2A2976;
  margin: 5px 0 15px 0;
}

.gallery-wrap .load-more-button {
  background-color: #2A2976;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-wrap .load-more-button:hover {
  background-color: #EE2C2C;
}

.gallery-wrap-item {
  width: -webkit-calc(25% - 20px);
  width: calc(25% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  display: none;
  height: 200px;
}

.gallery-wrap-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
}

.gallery-wrap-item:nth-child(1), .gallery-wrap-item:nth-child(2), .gallery-wrap-item:nth-child(3), .gallery-wrap-item:nth-child(4), .gallery-wrap-item:nth-child(5), .gallery-wrap-item:nth-child(6), .gallery-wrap-item:nth-child(7), .gallery-wrap-item:nth-child(8) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gallery-wrap-item::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.gallery-wrap-item:hover::after {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.gallery-wrap-item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.gallery .gallery-wrap.active-gallery .gallery-wrap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gallery-cats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.gallery-cats-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #2A2976;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.gallery-cats-item:hover {
  color: #fff;
  background-color: #2A2976;
}

.page-gallery {
  padding-bottom: 0;
}

.page-gallery .gallery-cats {
  display: none;
}

.active-g {
  background-color: #2A2976;
  color: #fff;
}

.actions {
  padding-top: 0;
  padding-bottom: 0;
}

.actions-wrap {
  padding: 40px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.actions-wrap:before {
  position: absolute;
  background-color: #2A2976;
  content: '';
  width: 80%;
  -webkit-transform: skew(40deg);
      -ms-transform: skew(40deg);
          transform: skew(40deg);
  height: 100%;
  left: -20%;
  top: 0;
  background-color: #2A2976;
  z-index: 0;
}

.actions-wrap::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/assets/action.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: right bottom;
}

.actions-wrap h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  z-index: 5;
}

.actions-wrap h2 small {
  z-index: 10;
  font-size: 15px;
  opacity: .4;
  font-weight: 400;
}

.actions-wrap h2 span {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 10px;
  z-index: 10;
}

.actions-wrap h2 div {
  font-size: 24px;
  background-color: #EE2C2C;
  padding: 15px 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
}

.actions-wrap h2 strong {
  margin-bottom: 20px;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 30px;
  line-height: 1;
  margin-bottom: 5px;
  z-index: 10;
}

.actions-wrap h2 strong::after {
  position: absolute;
  content: '*';
  top: 20px;
  right: 0;
  font-size: 30px;
  color: #fff;
}

.actions .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions .title a {
  color: #2A2976;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

.actions .title a:hover {
  color: #EE2C2C;
}

.actions .title a:hover::after {
  background-color: #EE2C2C;
}

.actions .title a::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2A2976;
}

.page-actions {
  padding-bottom: 90px;
  padding-top: 50px;
}

.feed {
  padding-top: 60px;
  padding-bottom: 0px;
}

.feed-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed-wrap-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-calc( 33.3% -  10px);
  width: calc( 33.3% -  10px);
  cursor: pointer;
}

.feed-wrap-item-bot {
  height: 220px;
  position: relative;
}

.feed-wrap-item-bot img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed-wrap-item-bot iframe {
  width: 100% !important;
  height: 220px !important;
  display: none;
}

.feed-wrap-item-bot:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  height: 40px;
  width: 40px;
  background-position: center center;
  z-index: 10;
}

.feed-wrap-item-bot::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.feed-wrap-item-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed-wrap-item-top-right {
  padding: 20px;
}

.feed-wrap-item-top-right p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.feed-wrap-item-top-right .stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.feed-wrap-item-top-right .stars img {
  margin-right: 3px;
}

.feed-wrap-item-top-left {
  width: 60px;
  height: 60px;
  background-color: #2A2976;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed-wrap-item-top-left img {
  max-width: 90%;
}

.feed-wrap-item:hover .feed-wrap-item-top p {
  color: #EE2C2C;
}

.feed-wrap-item:hover .feed-wrap-item-bot::after {
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.feed-wrap-item-active .feed-wrap-item-bot::after {
  display: none;
}

.feed-wrap-item-active .feed-wrap-item-bot::before {
  display: none;
}

.news {
  padding-top: 60px;
  padding-bottom: 0;
}

.news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news-wrap-item {
  width: -webkit-calc(25% - 20px);
  width: calc(25% - 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-wrap-item img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.news-wrap-item h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.desc {
  padding-top: 60px;
}

.desc p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 27px;
}

.page-desc {
  padding-bottom: 0;
}

.page-calc {
  padding-top: 50px;
}

.footer {
  background-color: #2A2976;
  padding-bottom: 60px;
}

.footer a:hover {
  color: #EE2C2C !important;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer-wrap-bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  color: #fff;
}

.footer-wrap-bottom-left {
  width: 30%;
}

.footer-wrap-bottom-right {
  width: 65%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap-bottom-right .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap-bottom-right .social a {
  margin-left: 15px;
}

.footer-wrap-bottom-right a {
  color: #fff;
}

.footer-wrap-left {
  width: 30%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-wrap-left div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrap-left div span {
  margin-bottom: 10px;
  display: block;
}

.footer-wrap-left a {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
  display: block;
}

.footer-wrap-left a:hover {
  color: #EE2C2C;
}

.footer-wrap-left p {
  margin-bottom: 30px;
}

.footer-wrap-right {
  width: 65%;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  border: none;
  padding: 7px;
  padding-left: 13px;
  width: 35px;
  font-weight: 500;
  color: #2A2976;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.plus {
  padding: 7px;
  background-image: url(../img/icons/plus.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 8px 8px;
          background-size: 8px;
  width: 30px;
  background-position: center;
  cursor: pointer;
  height: 30px;
}

.minus {
  padding: 7px;
  background-image: url(../img/icons/minus.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 8px 8px;
          background-size: 8px;
  width: 30px;
  background-position: center;
  cursor: pointer;
  height: 30px;
}

.overlay {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 51;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.popup-gallery {
  max-width: 1200px;
  max-height: 90vh;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.popup-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.popup-closes {
  background-color: #2A2976;
  padding: 60px;
  width: 100%;
  max-width: 800px;
}

.popup-closes .close {
  position: absolute;
  top: 0px;
  right: 13px;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  cursor: pointer;
}

.popup-closes .close:hover {
  color: #EE2C2C;
}

.popup-closes .popup-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup-closes .popup-wrap-right {
  width: 45%;
}

.popup-closes .popup-wrap-right form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

.popup-closes .popup-wrap-right form label {
  font-size: 14px;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.popup-closes .popup-wrap-right form input {
  height: 50px;
  margin-bottom: 25px;
}

.popup-closes .popup-wrap-right form input[type="submit"] {
  max-width: 200px;
}

.popup-closes .popup-wrap-right form b {
  color: #fff;
  font-size: 32px;
  margin-bottom: 15px;
}

.popup-closes .popup-wrap-right form p {
  color: #fff;
  margin-bottom: 30px;
}

.popup-closes .popup-wrap-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  position: relative;
  height: 362px;
}

.popup-closes .popup-wrap-left img {
  position: absolute;
  bottom: -60px;
}

.thx {
  background-color: #2A2976;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px;
  width: 100%;
  max-width: 800px;
}

.thx-right {
  width: 45%;
  color: #fff;
  padding: 30px 0;
}

.thx-right b {
  font-size: 48px;
  margin-bottom: 30px;
  display: block;
}

.thx-right p {
  font-size: 20px;
  padding-bottom: 30px;
}

.thx-left {
  width: 50%;
  position: relative;
  height: 200px;
}

.thx-left img {
  position: absolute;
  bottom: -142px;
}

.thx-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-features {
  padding-top: 0;
  padding-bottom: 30px;
}

.vars {
  padding-top: 0;
  padding-bottom: 50px;
}

.vars-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.vars-wrap-item {
  width: -webkit-calc(33.3% - 15px);
  width: calc(33.3% - 15px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  position: relative;
  cursor: pointer;
}

.vars-wrap-item:hover {
  background-color: rgba(208, 208, 208, 0.2);
}

.vars-wrap-item-cost {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 15px;
}

.vars-wrap-item-cost-container {
  background-color: #2A2976;
  color: #fff;
  padding: 7px 15px 5px 15px;
  font-size: 18px;
}

.vars-wrap-item-row {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.vars-wrap-item-row span {
  width: 100%;
  position: relative;
  display: block;
}

.vars-wrap-item-row span::after {
  position: absolute;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -4px;
  background-color: #D0D0D0;
  height: 1px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
}

.vars-wrap-item .titles {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
}

.vars-wrap-item h4 {
  padding: 15px 25px;
  font-weight: 500;
  font-size: 22px;
}

.vars-wrap-item img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vars-wrap-item:nth-child(3n+3) {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .calc-left {
    padding-top: 0;
  }
  .calc-right {
    padding: 30px;
    width: 40%;
  }
  .feed-wrap-item-top-right p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 22px;
  }
  .calc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calc-left {
    width: 100%;
  }
  .calc-right {
    width: 100%;
  }
  .gallery-wrap-item {
    width: -webkit-calc(33% - 20px);
    width: calc(33% - 20px);
  }
  .gallery-wrap-item:nth-child(8), .gallery-wrap-item:nth-child(7) {
    display: none;
  }
  .actions-wrap:before {
    width: 100%;
  }
  .feed-wrap-item {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
  }
  .feed-wrap-item:nth-child(3) {
    display: none;
  }
  .news-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .news-wrap-item {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrap-bottom-left {
    display: none;
  }
  .footer-wrap-bottom-right {
    width: 100%;
  }
  .footer-wrap-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-wrap-right {
    width: 100%;
  }
  .popup-closes {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  #thx {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  .popup-gallery {
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  .calc {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .gallery, .desc {
    padding-bottom: 50px;
  }
  .feed {
    padding-top: 50px;
  }
  .news, .desc {
    padding-top: 30px;
  }
  .footer {
    padding-top: 50px;
  }
  .page-calc {
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .page-desc {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .page-features {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .page-gallery {
    padding-bottom: 0;
  }
  .vars-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .vars-wrap-item {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }
  .vars-wrap-item h4 {
    font-size: 20px;
  }
  .vars-wrap-item-row {
    font-size: 16px;
  }
  .vars-wrap-item:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .gallery-wrap-item {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  .gallery-wrap-item:nth-child(6), .gallery-wrap-item:nth-child(5) {
    display: none;
  }
  .actions-wrap {
    background-color: #2A2976;
  }
  .actions-wrap::after, .actions-wrap::before {
    display: none;
  }
  .popup-closes {
    padding: 30px;
  }
  .popup-closes .popup-wrap-left {
    display: none;
  }
  .popup-closes .popup-wrap-right {
    width: 100%;
  }
  .popup-closes .popup-wrap-right form b {
    font-size: 22px;
    margin-bottom: 20px;
    padding-right: 20px;
  }
  .popup-closes .popup-wrap-right form p, .popup-closes .popup-wrap-right form label {
    font-size: 14px;
  }
  .popup-closes .popup-wrap-right form p {
    margin-bottom: 20px;
  }
  .popup-closes .popup-wrap-right form small {
    font-size: 12px;
  }
  .thx {
    padding: 60px 30px;
  }
  .thx-left {
    display: none;
  }
  .thx-right {
    width: 100%;
  }
  .thx-right b, .thx-right p {
    display: block;
    width: 100%;
    text-align: center;
  }
  .vars-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .vars-wrap-item {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 578px) {
  .calc-right p {
    font-size: 16px;
  }
  .calc-left-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .calc-left-section label {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .calc-left-section .calc-num {
    margin-bottom: 15px;
  }
  .calc-left-section .calc-num span {
    width: 100px;
    font-size: 14px;
  }
  .calc-left-section.spb {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 15px;
  }
  .calc-left .spb .calc-result, .calc-left .spb .calc-cost {
    font-size: 22px;
  }
  .gallery-wrap-item {
    width: 100%;
  }
  .gallery-wrap-item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery-wrap-item:nth-child(4) {
    display: none;
  }
  .actions-wrap {
    padding: 30px;
  }
  .actions-wrap h2 strong {
    font-size: 60px;
  }
  .actions-wrap h2 strong::after {
    top: 0;
  }
  .actions-wrap h2 span {
    font-size: 24px;
  }
  .actions-wrap h2 div {
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
  }
  .actions-wrap h2 small {
    font-size: 12px;
  }
  .actions .title a {
    font-size: 16px;
  }
  .feed-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .feed-wrap-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .feed-wrap-item:nth-child(3) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .news-wrap-item {
    width: 100%;
  }
  .news-wrap-item h3 {
    font-size: 18px;
  }
  .news-wrap-item p {
    font-size: 14px;
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer-wrap-bottom-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-wrap-bottom-right .social a {
    margin-left: 0;
    margin-right: 20px;
  }
  .footer-wrap-bottom-right a, .footer-wrap-bottom-right p {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .actions-wrap h2 strong {
    font-size: 50px;
  }
  .actions-wrap h2 span {
    font-size: 26px;
  }
  .actions-wrap h2 div {
    font-size: 14px;
    padding: 10px;
  }
}
